.container {
  background-color: aquamarine;
  height: 151px;
  max-width: 1310px;
  padding: 0px;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1310px;
}

.header-top {
  height: 95px;
  padding: 20px 10px 15px;
}

.header-middle {
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-middle img {
  height: 60px;
  margin: 10px auto 0;
}

.main {
  height: 7000px;
}
